<div class='ad-footer-contents'>
 <p class='ad-footer-explain'>
    小学校に入る前に計算をマスター出来ます！
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ぷらすについて</h2>
      <ul class="footer-list">
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ぷらす利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>計算問題を見る</h2>
      <ul class="footer-list">
        <li><%= link_to '足し算', "#", class: "footer-link" %></li>
        <li><%= link_to '引き算', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>ぷらすについて</h2>
      <ul class="footer-list">
        <li><%= link_to 'ぷらすガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ぷらすを作った人', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("plusslogo.JPG", class:"logo-white"), "#" %>
  <p>数字とパソコンをもっと身近に</p>
</div>