<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= image_tag("plusslogo.JPG", class:"furima-icon") %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'たしざん', "#", class: "category-list" %></li>
      <li><%= link_to 'ひきざん', "#", class: "brand-list" %></li>
    </ul>
   
    <ul class='lists-right'>
      <li><%= link_to 'なまえ', "#", class: "user-nickname" %></li>
      <li><%= link_to 'ろぐあうと', "#", class: "logout" %></li>
    </ul>
   
  </div>
</header>